.DS_Store
Thumbs.db
.env
.env.*
!.env.example
node_modules/
.dev.vars
serviceAccount*.json
firebase-service-account*.json
.firebase/
firebase-debug.log*
firestore-debug.log*
storage-debug.log*
ui-debug.log*
.hosting-dist/
